<?xml version="1.0"?>

<model>
  <name>octanis1_rover_model</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Sam Sulaimanov</name>
    <email>sam@octanis.org</email>
  </author>

  <description>
    Octanis 1 rover. 4 wheels each on a mobile strut attached to the rover b	ody. http://octanis.org for more information.
  </description>
</model>